<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span jhiTranslate="crenoFlowApp.person.home.title">People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="crenoFlowApp.person.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="crenoFlowApp.person.home.createLabel">Créer un nouveau Person</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
    <span jhiTranslate="crenoFlowApp.person.home.notFound">Aucun Person trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="people && people.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.phoneNumber">Phone Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.city">City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postalCode">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.postalCode">Postal Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthday">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.birthday">Birthday</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="schoolLevel.label">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.person.schoolLevel">School Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
          </td>
          <td>{{ person.firstName }}</td>
          <td>{{ person.lastName }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.phoneNumber }}</td>
          <td>{{ person.address }}</td>
          <td>{{ person.city }}</td>
          <td>{{ person.postalCode }}</td>
          <td>{{ person.birthday | formatMediumDate }}</td>
          <td>
            {{ person.user?.id }}
          </td>
          <td>
            <div *ngIf="person.schoolLevel">
              <a [routerLink]="['/school-level', person.schoolLevel.id, 'view']">{{ person.schoolLevel.label }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="people && people.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
