<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span jhiTranslate="crenoFlowApp.booking.home.title">Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="crenoFlowApp.booking.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="crenoFlowApp.booking.home.createLabel">Créer un nouveau Booking</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="bookings?.length === 0">
    <span jhiTranslate="crenoFlowApp.booking.home.notFound">Aucun Booking trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="bookings && bookings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.booking.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bookingDate">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.booking.bookingDate">Booking Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modificationDate">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.booking.modificationDate">Modification Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="course.id">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.booking.course">Course</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parent.id">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.booking.parent">Parent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="student.id">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.booking.student">Student</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a>
          </td>
          <td jhiTranslate="{{ 'crenoFlowApp.BookingStatus.' + booking.status }}">{{ booking.status }}</td>
          <td>{{ booking.bookingDate | formatMediumDatetime }}</td>
          <td>{{ booking.modificationDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="booking.course">
              <a [routerLink]="['/course', booking.course.id, 'view']">{{ booking.course.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="booking.parent">
              <a [routerLink]="['/person', booking.parent.id, 'view']">{{ booking.parent.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="booking.student">
              <a [routerLink]="['/person', booking.student.id, 'view']">{{ booking.student.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/booking', booking.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/booking', booking.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bookings && bookings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
