<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="schoolLevel">
      <h2 data-cy="schoolLevelDetailsHeading"><span jhiTranslate="crenoFlowApp.schoolLevel.detail.title">School Level</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ schoolLevel.id }}</span>
        </dd>
        <dt><span jhiTranslate="crenoFlowApp.schoolLevel.label">Label</span></dt>
        <dd>
          <span>{{ schoolLevel.label }}</span>
        </dd>
        <dt><span jhiTranslate="crenoFlowApp.schoolLevel.cycle">Cycle</span></dt>
        <dd>
          <div *ngIf="schoolLevel.cycle">
            <a [routerLink]="['/cycle', schoolLevel.cycle.id, 'view']">{{ schoolLevel.cycle.label }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/school-level', schoolLevel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
