<div>
  <h2 id="page-heading" data-cy="CycleHeading">
    <span jhiTranslate="crenoFlowApp.cycle.home.title">Cycles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="crenoFlowApp.cycle.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cycle"
        [routerLink]="['/cycle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="crenoFlowApp.cycle.home.createLabel">Créer un nouveau Cycle</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cycles?.length === 0">
    <span jhiTranslate="crenoFlowApp.cycle.home.notFound">Aucun Cycle trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cycles && cycles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="label">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.cycle.label">Label</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subjectCycle.id">
            <div class="d-flex">
              <span jhiTranslate="crenoFlowApp.cycle.subjectCycle">Subject Cycle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cycle of cycles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cycle', cycle.id, 'view']">{{ cycle.id }}</a>
          </td>
          <td>{{ cycle.label }}</td>
          <td>
            <span *ngFor="let subjectCycle of cycle.subjectCycles; let last = last">
              <a class="form-control-static" [routerLink]="['/subject-cycle', subjectCycle.id, 'view']">{{ subjectCycle.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/cycle', cycle.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/cycle', cycle.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(cycle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
