<div class="page-banner">
  <h1 class="banner-title h3">Devenir Enseignant</h1>
  <p>Veuillez compléter votre profil</p>
</div>
<div class="container pb-5">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <jhi-custom-stepper [linearModeSelected]="false" #jhiCustomStepper>
      <!-- Étape 1 : Informations personnelles -->
      <cdk-step [label]="'Informations personnelles'">
        <jhi-teacher-contact-form></jhi-teacher-contact-form>
        <div class="mt-4 text-end">
          <button type="submit" class="btn btn-primary" cdkStepperNext>Suivant</button>
        </div>
      </cdk-step>
      <cdk-step [label]="'Profil'">
        <jhi-teacher-profil-form></jhi-teacher-profil-form>
        <div class="mt-4 d-flex justify-content-between">
          <button class="btn btn-outline-secondary" cdkStepperPrevious>Back</button>
          <button type="submit" class="btn btn-primary" cdkStepperNext>Next</button>
        </div>
      </cdk-step>
    </jhi-custom-stepper>
  </form>
</div>
