<div class="page-banner">
  <h1 class="banner-title h3">Devenir Enseignant</h1>
  <p>Veuillez compléter votre profil</p>
</div>
<div class="container pb-5">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <jhi-custom-stepper [linearModeSelected]="false" #jhiCustomStepper>
      <cdk-step [label]="'Matières'"> </cdk-step>
      <cdk-step [label]="'Niveau'"> </cdk-step>
      <cdk-step [label]="'Informations personnelles'">
        <jhi-teacher-contact-form></jhi-teacher-contact-form>
      </cdk-step>
      <cdk-step [label]="'Profil'">
        <jhi-teacher-profil-form></jhi-teacher-profil-form>
      </cdk-step>
    </jhi-custom-stepper>
  </form>
</div>
