<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-person-heading" data-cy="PersonCreateUpdateHeading" jhiTranslate="crenoFlowApp.person.home.createOrEditLabel">
        Créer ou éditer un Person
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.postalCode" for="field_postalCode">Postal Code</label>
          <input
            type="number"
            class="form-control"
            name="postalCode"
            id="field_postalCode"
            data-cy="postalCode"
            formControlName="postalCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.birthday" for="field_birthday">Birthday</label>
          <div class="input-group">
            <input
              id="field_birthday"
              data-cy="birthday"
              type="text"
              class="form-control"
              name="birthday"
              ngbDatepicker
              #birthdayDp="ngbDatepicker"
              formControlName="birthday"
            />
            <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crenoFlowApp.person.schoolLevel" for="field_schoolLevel">School Level</label>
          <select
            class="form-control"
            id="field_schoolLevel"
            data-cy="schoolLevel"
            name="schoolLevel"
            formControlName="schoolLevel"
            [compareWith]="compareSchoolLevel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="schoolLevelOption" *ngFor="let schoolLevelOption of schoolLevelsSharedCollection">
              {{ schoolLevelOption.label }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
